#mainDive {
    margin: 71px;
}
.asd {
    border: 1px solid black; !important;
    width: 60px; !important;
    height: 60px; !important;
}
body {
    padding: 0; !important;
}
button, input, optgroup, select, textarea {
    color:black;
    font: initial;
    text-align: center;
    margin: 0;

}
.ui.input input {
    padding: 0; !important;
}
.column {
    padding: 0;!important;
}
.ui.grid>.column:not(.row)  {
    padding-top: 0;!important;
    padding-bottom: 0;!important;
}

.ui.grid>.column:not(.row), .ui.grid>.row>.column {
    position: relative;
    display: inline-block;
    width: 60px; !important;
    padding-left: 0; !important;
    padding-right: 0;!important;
    vertical-align: top;
    text-align: center;
}
#DrawMatrix {
    height: 40px; !important;
}